* {
	padding: 0;
	margin: 0;
	font-family: Avenir, sans-serif;
}

:root {
	--text: #0f172a;
	--background: #f8fafc;
	--background-accent: #f1f5f9;
	--primary: #0083e2;
}
@media (prefers-color-scheme: dark)  {
	:root {
		--text: white;
		--background: #0f172a;
		--background-accent: #1e293b;
	} 
}
 


header {
	background-color: var(--background-accent);
	padding: 16px;
	text-align: center;
}
#pfp {
	height: 128px;
	width: 128px;
	border-radius: 50%;
	-webkit-filter: drop-shadow(0 8px 32px #e2e8f0);
}
.section {
	background-color: var(--background);
	padding: 32px;
}
.progress-bar {
	height: 24px;
	width: 160px;
	background-color: var(--background-accent);
	border-radius: 4px;
	margin: 4px 0;
}
.progress-bar > .progress {
	height: 24px;
	background-color: var(--primary);
	color: #ffffff;
	border-radius: 4px;
}
.progress > span {
	font-size: 16px;
	padding-left: 4px;
}
.progress > * {
	max-height: 16px;
	vertical-align: -2px;
}

@media only screen and (max-width:640px) {
	header {
		padding: 32px;
	}
}
