* {
	padding: 0;
	margin: 0;
	font-family: Avenir, sans-serif;
}

:root {
	--text: #0f172a;
	--background: #f8fafc;
	--background-accent: #f1f5f9;
}


header {
	background-color: var(--background-accent);
	padding: 16px;
	text-align: center;
}
#pfp {
	height: 128px;
	width: 128px;
	border-radius: 50%;
	filter: drop-shadow(0 16px 32px var(--background-accent));
}
